body {
    background-color: #f2efe4;
    font-family: Nunito, sans-serif;
}

h1 {
    font-weight: 600;
    text-align: center;
}

#container {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#url {
    width: 400px;
    margin-top: 5px;
}

#button {
    width: 400px;
}

#output {
    width: 400px;
}