body {
    background-color: #f2efe4;
    font-family: Nunito, sans-serif;
}

h1 {
    font-weight: 600;
    text-align: center;
}

@media screen {
    .container {
        max-width: 400px;
    }
}

#url {
    width: 100%;
    margin-top: 5px;
}

#button {
    width: 100%;
}

#output {
    width: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: #5577A8;
    border-color: #5577A8;
}